source https://www.nuget.org/api/v2
framework: net461
nuget FAKE ~> 4
nuget FSharp.Core redirects:force
nuget FsLexYacc

group Tests
    source https://www.nuget.org/api/v2
    framework: net461
    nuget Expecto